DEBUG=1
SECRET_KEY=54kbnj+28ru4yh@h^2dnz0=8%e=3v_j8gr(s^@67bt@x_hski+
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1
POSTGRES_NAME=hitalent_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432